main{
  color: grey
}

.deck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

button {
  padding: 50px
}